.item-container {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;

  padding: 1rem;
  margin-bottom: 1.25rem;

  cursor: pointer;
  transition: all 0.3s ease-in;
}

.item-container:hover .underlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    135deg,
    rgba(26, 26, 26, 0.6) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  opacity: 1;

  box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
}

.underlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: #1a1a1a;
  mix-blend-mode: multiply;
  opacity: 0.5;
  border-radius: 0.75em;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);

  transition: all 0.3s ease-in-out;
}

.item-container__image-container {
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.underlay-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background: #282828;
  opacity: 0.75;
  border-radius: 0.75em;
}

.item-container__image {
  position: relative;
  z-index: 1;
  width: 48px;
  height: 48px;
}

.item-container__info {
  position: relative;
  z-index: 1;

  flex: 1;

  margin-left: 2rem;
}

.item-container__info--heading {
  font-weight: 900;
  font-size: 2rem;
  line-height: 120%;
  color: #fff;
}

.item-container__info--subheading {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 120%;
  color: #fff;
}

@media (max-width: 1050px) {
  .item-container {
    padding: 0.75rem;
    margin-bottom: 1rem;
  }

  .item-container__image-container {
    padding: 0.75rem;
  }

  .item-container__image {
    width: 32px;
    height: 32px;
  }

  .item-container__info--heading {
    font-weight: 800;
    font-size: 1.5rem;
  }

  .item-container__info--subheading {
    font-weight: 500;
    font-size: 0.95rem;
  }
}

@media (max-width: 900px) {
  .item-container__info--heading {
    font-weight: 800;
    font-size: 21px;
  }

  .item-container__info--subheading {
    display: none;
  }
}
