.header {
  height: 12vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 70px;
}

.header img {
  position: relative;
  height: 40px;
}

.copy-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 30px;

  background: rgba(26, 26, 26, 0.5);
  background-blend-mode: multiply;
  border-radius: 60px;
}

.copy-container p {
  font-size: 16px;
  font-weight: 200;
  line-height: 120%;
  margin-right: 2rem;
}

.btn.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 0 30px;
  }
}

@media (max-width: 540px) {
  .btn.mobile-only {
    display: flex;
  }
  .copy-container {
    display: none;
  }
}
