.app-container {
  display: flex;
  flex-direction: row;

  width: 100%;
  height: 88vh;

  background: #0d0e1d;
}

.card-container {
  position: relative;
  flex: 0.35;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px 70px;
}

.card-container .blend {
  position: absolute;
  top: -12vh;
  left: 0;
  right: 0;
  bottom: 0;

  background: #ffffff;
  mix-blend-mode: screen;
  opacity: 0.05;
  width: 100%;
}

.main-container {
  flex: 1;
}

.info-card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-card .des-img {
  display: block;
  height: 40vh;
}

.btn.des-img {
  display: flex;
  height: unset;
}

.info-card .mobile-img {
  display: none;
}

.info-card h2 {
  font-weight: 900;
  font-size: 1.5rem;
  line-height: 120%;
  text-align: center;
  margin-top: 1rem;
}

.info-card h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 120%;
  text-align: center;
  margin-top: 0.5rem;
}

.info-card h3 {
  font-weight: 600;
  font-size: 2rem;
  line-height: 120%;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.logo-d-only {
  position: absolute;
  left: 45px;
  bottom: 5vh;
  height: 40px;
}

@media (max-width: 900px) {
  .logo-d-only {
    display: none;
  }

  .app-container {
    margin-top: 2rem;
    flex-direction: column;
  }

  .card-container {
    padding: 30px;
    margin: 0 auto;
    max-width: 380px;
    width: 80vw;
  }

  .card-container .blend {
    top: 0;
    opacity: 0.1;
    border-radius: 16px;
  }

  .info-card .des-img {
    display: none;
  }

  .info-card .mobile-img {
    display: flex;
    width: 100%;
  }
}
