@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-Thin.otf') format('opentype');
  font-weight: 100;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-Regular.otf') format('opentype');
  font-weight: 400;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-SemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Causten';
  src: local('Causten'), local('Causten'),
    url('./assets/fonts/Causten-ExtraBold.otf') format('opentype');
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Causten', sans-serif;
}

body,
#root {
  overflow-x: hidden;
  color: #fff;
  width: 100%;
  height: 100vh;

  background: #0d0e1d;
}

.vector1 {
  position: fixed;
  max-width: 826px;
  width: 100%;
  height: 90vh;
  left: -167px;
  top: 20px;

  background: linear-gradient(123.82deg, #81a1ff 20.63%, #5449e8 80.51%),
    linear-gradient(123.44deg, #faa94d 20.46%, #f27038 80.68%),
    linear-gradient(90deg, #ff48e2 0%, #ff2936 93.67%),
    radial-gradient(
      14109.95% 737.02% at 62.27% -5.55%,
      #ee7c65 0%,
      #f7c39d 21.88%,
      #ead899 39.58%,
      #87d5ff 57.81%,
      #9281f5 79.17%,
      #fa5284 100%
    ),
    #ffbc57;
  filter: blur(350px);
}

.vector2 {
  position: fixed;
  width: 658px;
  height: 596px;
  left: 50%;
  top: -278px;

  background: linear-gradient(123.65deg, #ff5b5b 20.55%, #7544ff 80.59%),
    linear-gradient(123.82deg, #81a1ff 20.63%, #5449e8 80.51%),
    linear-gradient(123.44deg, #faa94d 20.46%, #f27038 80.68%),
    linear-gradient(90deg, #ff48e2 0%, #ff2936 93.67%),
    radial-gradient(
      14109.95% 737.02% at 62.27% -5.55%,
      #ee7c65 0%,
      #f7c39d 21.88%,
      #ead899 39.58%,
      #87d5ff 57.81%,
      #9281f5 79.17%,
      #fa5284 100%
    ),
    #ffbc57;
  filter: blur(350px);
}

.vector3 {
  position: fixed;
  width: 957.15px;
  height: 957.15px;
  left: 95%;
  top: 567px;

  background: radial-gradient(
      4364.51% 4924.13% at 15.59% 70.57%,
      #ee7c65 0%,
      #f7c39d 21.88%,
      #ead899 39.58%,
      #87d5ff 57.81%,
      #9281f5 79.17%,
      #fa5284 100%
    ),
    #ffbc57;
  filter: blur(500px);
  transform: rotate(59.66deg);
}

@media (max-width: 900px) {
  .vector1 {
    position: fixed;
    max-width: 466px;
    width: 100%;
    height: 481.8px;
    left: -122px;
    top: -217px;

    background: linear-gradient(123.82deg, #81a1ff 20.63%, #5449e8 80.51%),
      linear-gradient(123.44deg, #faa94d 20.46%, #f27038 80.68%),
      linear-gradient(90deg, #ff48e2 0%, #ff2936 93.67%),
      radial-gradient(
        14109.95% 737.02% at 62.27% -5.55%,
        #ee7c65 0%,
        #f7c39d 21.88%,
        #ead899 39.58%,
        #87d5ff 57.81%,
        #9281f5 79.17%,
        #fa5284 100%
      ),
      #ffbc57;
    filter: blur(197.458px);
  }

  .vector2 {
    position: fixed;
    width: 98vw;
    height: 450px;
    left: 0;
    right: 0;
    top: 200px;

    background: linear-gradient(123.65deg, #ff5b5b 20.55%, #7544ff 80.59%),
      linear-gradient(123.82deg, #81a1ff 20.63%, #5449e8 80.51%),
      linear-gradient(123.44deg, #faa94d 20.46%, #f27038 80.68%),
      linear-gradient(90deg, #ff48e2 0%, #ff2936 93.67%),
      radial-gradient(
        14109.95% 737.02% at 62.27% -5.55%,
        #ee7c65 0%,
        #f7c39d 21.88%,
        #ead899 39.58%,
        #87d5ff 57.81%,
        #9281f5 79.17%,
        #fa5284 100%
      ),
      #ffbc57;
    filter: blur(275px);
  }

  .vector3 {
    position: fixed;
    width: 429.25px;
    height: 429.25px;
    left: 156.64px;
    top: 100vh;
    bottom: 0;

    background: radial-gradient(
        4364.51% 4924.13% at 15.59% 70.57%,
        #ee7c65 0%,
        #f7c39d 21.88%,
        #ead899 39.58%,
        #87d5ff 57.81%,
        #9281f5 79.17%,
        #fa5284 100%
      ),
      #ffbc57;
    filter: blur(224.237px);
    transform: rotate(59.66deg);
  }
}
