.item-list {
  position: relative;
  z-index: 1;

  width: 80%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  .item-list {
    margin-top: 2.5rem;
  }
}
